/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background
 with light blue lettering */

h1 {
    padding:0 20px 15px 25px;
    margin: 100px 0 0 0;
    background: rgb(211, 116, 211);
    color: lightblue;
}

/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, 
and an orange background */

h2 {
    padding: 50px 0 50px 0;
    border-top: 3px solid darkgreen;
    border-bottom: 3px solid darkgreen;
    background: orange;
}

/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on 
the top */

section {
    border: 3px solid blue;
    height: 300px;
    margin-top: 400px;
}

/* Please make the spans have thin yellow borders and equal padding / margin on all sides */ 

span {
    border: solid 3px yellow;
    padding: 10px ;
    margin: 10px ;
}