*{
    box-sizing: border-box;
}
header,footer{
    height: 100px;
    border: 2px solid black;
    clear: both;
}
.zebra{
    height: 200px;
    width: 33.33%;
    border: 2px solid black;
    float: left;
}

.bob{
    height: 200px;
    width: 50%;
    border: 2px solid black;
    float: left;
}